body {
  overflow-x: hidden;
}
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.4rem;
  padding: 0.1rem;
}
h2 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  margin-bottom: 60px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .product-page-section {
    min-width: 350px;
  }

  .product-page-section:nth-child(3) {
    margin: 20px 0 0 50%;
  }
}
